@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&display=swap');

@import "tailwindcss";

@theme {

    --font-Inter: Inter, sans-serif, Oswald, sans-serif, Oswald, "Apple Color Emoji", "Segoe UI Emoji";


    --breakpoint-1440p: 121rem;
    --breakpoint-4k: 160rem;
    --spacing: 1rem;

    --color-dark-1: #111111;
    --color-dark-2: #1A1A1A;
    --color-dark-3: #1E1E1E;
    --color-blue-1: #6CACE4;
    --color-minor-1: #C4C4C4;
    --color-major-1: #FFFFFF;
    --color-breakline-1: #676767;
    --text-tiny: 0.625rem;
    --text-tiny-1: 0.6875rem;
    --text-big-1: 8rem;
    --text-big-2: 10rem;

    @keyframes show {
        0% {
            transform: translateY(25rem);
        }
        100% {
            transform: translateY(0rem);
        }

    }
    @keyframes hide {
        0% {
            transform: translateY(0rem);
        }
        100% {
            transform: translateY(25rem);
        }

    }

    --animate-show: show 1s ease-in-out;
    --animate-hide: hide 3s ease-out;

}

/*@keyframes myfade {*/
/*    0% {*/
/*        transform: rotate(-20deg) translateX(-60px);*/
/*        content: "";*/
/*        position: absolute;*/
/*        height: 100px;*/
/*        width: 20px;*/
/*        background: #3f3f3f;*/
/*        box-shadow: 0 0 10px #fff;*/
/*        filter: blur(1px);*/
/*        opacity: 0.9;*/
/*        top: -30px;*/
/*        transition: 5s;*/
/*    }*/
/*    100% {*/
/*        transform: rotate(-20deg) translate(140px, 70px);*/
/*        opacity: 1;*/
/*    }*/
/*}*/
/*--animate-myfade: myfade 10s ease;*/